<link rel="stylesheet" href="/stylesheets/navstyle.css"> 
<nav>
  <body> 
    <h3>Travel Blog</h3>
    <div>
      <a href="/users/<%= user._id %>/travels">Blog Posts</a>
      <a href="/users">Explore Our Community</a>
      <a href="/auth/sign-out">Sign Out</a>
    </div>
  </nav>
</body>
</html>
