body {
  font-family: Arial, sans-serif;
  background-color: #e4e4df;
}

.travel-container {
  display: flex;
  justify-content: space-around;
}

.travel-display {
  width: 300px;
  background-color: #f1eeeeba;
  border-radius: 8px;
  text-align: center;
}

.travel-display img {
  width: 100%;
  height: 200px;
}

.add-travel {
  display: block;
  margin-top: 20px;
  text-align: center;
}